#  1. Recommendation - Loading

In [1]:
import os
import zipfile
import pandas as pd
import dask.dataframe as dd
import matplotlib.pyplot as plt
import numpy as np
from scipy.sparse import csc_matrix
from scipy.sparse import vstack
import pickle
from pathlib import Path

In [2]:
%run "0.Splitting_Reading_Recommendation_File.ipynb"

In [3]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)

In [4]:
def loading_recommendations(df):
    # keep only users that do recommend, eliminate those who disrecommend
    df1 = df.copy()
    df1 = df1[df1["is_recommended"]==True]
    df1["is_recommended"] = df1["is_recommended"].apply(lambda x: 1 if x == True else 0)
    df1['user_id_categorical'] = pd.Categorical(df1['user_id']).codes
    ## App_ID starts from 1. I leave the 0 to the user_id column. See later
    df1['app_id_categorical'] = pd.Categorical(df1['app_id']).codes + 1
    df1 = df1.sort_values(by="user_id_categorical")
    df["date"] = pd.to_datetime(df1["date"])
    return df1

In [5]:
recommendations = loading_recommendations(recommendations_df)
recommendations

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id,user_id_categorical,app_id_categorical
30478477,235540,28,2,2015-10-17,1,21.9,0,30478477,0,1698
24437527,49520,35,16,2015-08-12,1,2.1,0,24437527,0,895
34510797,627690,8,0,2022-03-06,1,103.3,0,34510797,0,12333
22036352,1454400,6,2,2022-02-18,1,762.6,0,22036352,0,28682
36809055,317400,15,0,2015-08-01,1,18.0,0,36809055,0,3676
...,...,...,...,...,...,...,...,...,...,...
5228835,397540,0,0,2020-11-25,1,160.9,14306059,5228835,12663129,6218
39735230,1112830,0,0,2020-10-10,1,1.0,14306060,39735230,12663130,22680
23151356,1407200,0,0,2022-09-02,1,171.0,14306061,23151356,12663131,27909
25486974,1987080,0,0,2022-08-28,1,15.5,14306062,25486974,12663132,35826
15647625,895870,0,0,2022-08-22,1,19.1,14306063,15647625,12663133,18402

In [7]:
recommendations[recommendations["user_id_categorical"]==2590]

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id,user_id_categorical,app_id_categorical
24720221,202970,0,0,2016-10-28,1,0.7,2876,24720221,2590,1209