# 12. Cluster Analysis

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage
from scipy.spatial.distance import pdist
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from gensim.models import Word2Vec
from sklearn.cluster import KMeans

In [3]:
%run "01.Recommendation_Loading.ipynb"

################  Recommendations (all data, positive recommendations only) ################
Users: 12,663,134
Games: 37,419
Number of users 10,000
First five users id [11187923 12792392 11703922  9531989 11022607]
################  Recommendations (Sample) ################
Minimum number of recommendations to be included in the sample: 20
Number of randomly selected users: 10000
Users: 9,690
Games: 21,487
################ User-Game Matrix ################
Number of Rows: 9,691
Numbeer of Columns: 21,488
Number of stored values: 369,103

In [4]:
%run "04.Games_Exploration.ipynb"

There are 50872 distinct games
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   app_id       50872 non-null  int64
 1   description  50872 non-null  object
 2   tags         50872 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.2+ MB
There are 50872 distinct games
There are 441 tags
The top 10 tags with their respective count are: [('Indie', 27957), ('Singleplayer', 22566), ('Action', 21897), ('Adventure', 20183), ('Casual', 17844)]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 49628 entries, 10 to 2515460
Columns: 441 entries, 1980s to eSports
dtypes: int8(441)
memory usage: 21.3 MB

In [5]:
recommendations

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id,user_id_categorical,app_id_categorical
32197893,761620,6,0,2021-08-24,1,56.8,2881,32197893,0,10708
35310498,274520,4,0,2021-08-31,1,146.5,2881,35310498,0,2195
25716249,244450,0,0,2021-03-19,1,248.2,2881,25716249,0,1599
35309426,324800,28,4,2021-08-24,1,122.4,2881,35309426,0,3282
32301016,34870,0,2,2021-09-05,1,135.0,2881,32301016,0,569
...,...,...,...,...,...,...,...,...,...,...
35966762,311340,0,0,2019-06-29,1,10.5,14305218,35966762,9689,2955
24564236,359550,0,0,2016-11-11,1,65.2,14305218,24564236,9689,4108
20181065,594650,3,0,2018-08-11,1,418.6,14305218,20181065,9689,8442
36808721,618510,0,0,2018-02-09,1,0.3,14305218,36808721,9689,8818
27058832,204100,2,3,2016-04-11,1,42.1,14305218,27058832,9689,1012

In [6]:
matrix_games_tags = matrix_games_tags.reset_index()
matrix_games_tags

tags,app_id,1980s,1990's,2.5D,2D,2D Fighter,2D Platformer,360 Video,3D,3D Fighter,...,Well-Written,Werewolves,Western,Wholesome,Word Game,World War I,World War II,Wrestling,Zombies,eSports
0,10,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,20,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,40,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,50,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49623,2478270,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49624,2488153,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49625,2510770,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49626,2515240,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49627,2515460,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
games_to_keep = recommendations.app_id.unique()

In [8]:
matrix_games_tags = matrix_games_tags[matrix_games_tags["app_id"].isin(games_to_keep)]
matrix_games_tags

tags,app_id,1980s,1990's,2.5D,2D,2D Fighter,2D Platformer,360 Video,3D,3D Fighter,...,Well-Written,Werewolves,Western,Wholesome,Word Game,World War I,World War II,Wrestling,Zombies,eSports
0,10,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,20,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,40,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,50,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48311,2235760,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
48312,2235780,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
48335,2237980,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
48359,2240530,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48410,2245700,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
games_idx = pd.read_csv('matrix/games_idx.csv')
games_idx.head()

   app_id  app_id_categorical
0  761620               10708
1  274520                2195
2  244450                1599
3  324800                3282
4   34870                 569

In [10]:
matrix_games_tags = pd.merge(games_idx, matrix_games_tags, left_on="app_id", right_on="app_id").drop(columns="app_id")
matrix_games_tags

,app_id_categorical,1980s,1990's,2.5D,2D,2D Fighter,2D Platformer,360 Video,3D,3D Fighter,...,Well-Written,Werewolves,Western,Wholesome,Word Game,World War I,World War II,Wrestling,Zombies,eSports
0,10708,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2195,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1599,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,3282,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,569,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20908,14167,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20909,6158,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20910,16845,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20911,9653,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20912,15523,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
recommendations

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id,user_id_categorical,app_id_categorical
32197893,761620,6,0,2021-08-24,1,56.8,2881,32197893,0,10708
35310498,274520,4,0,2021-08-31,1,146.5,2881,35310498,0,2195
25716249,244450,0,0,2021-03-19,1,248.2,2881,25716249,0,1599
35309426,324800,28,4,2021-08-24,1,122.4,2881,35309426,0,3282
32301016,34870,0,2,2021-09-05,1,135.0,2881,32301016,0,569
...,...,...,...,...,...,...,...,...,...,...
35966762,311340,0,0,2019-06-29,1,10.5,14305218,35966762,9689,2955
24564236,359550,0,0,2016-11-11,1,65.2,14305218,24564236,9689,4108
20181065,594650,3,0,2018-08-11,1,418.6,14305218,20181065,9689,8442
36808721,618510,0,0,2018-02-09,1,0.3,14305218,36808721,9689,8818
27058832,204100,2,3,2016-04-11,1,42.1,14305218,27058832,9689,1012

In [12]:
matrix_games_tags = pd.merge(recommendations, matrix_games_tags, left_on="app_id_categorical", right_on="app_id_categorical")
matrix_games_tags

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id,user_id_categorical,app_id_categorical,...,Well-Written,Werewolves,Western,Wholesome,Word Game,World War I,World War II,Wrestling,Zombies,eSports
0,761620,6,0,2021-08-24,1,56.8,2881,32197893,0,10708,...,0,0,0,0,0,0,0,0,0,0
1,761620,0,0,2021-06-14,1,13.6,52992,29890144,42,10708,...,0,0,0,0,0,0,0,0,0,0
2,761620,0,0,2022-03-20,1,6.0,68287,29972752,48,10708,...,0,0,0,0,0,0,0,0,0,0
3,761620,0,0,2020-12-05,1,27.0,447120,40757307,249,10708,...,0,0,0,0,0,0,0,0,0,0
4,761620,0,0,2022-03-22,1,18.0,1910105,32997992,930,10708,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253932,1063530,6,0,2019-11-20,1,0.2,14268141,28568574,9664,14167,...,0,0,0,0,0,0,0,0,0,0
253933,456180,4,0,2019-06-27,1,10.0,14268141,40048755,9664,6158,...,0,0,0,0,0,0,0,0,0,0
253934,1318800,4,0,2021-10-04,1,1.2,14284627,27806881,9674,16845,...,0,0,0,0,0,0,0,0,0,0
253935,681530,7,0,2019-01-13,1,16.2,14284627,32765232,9674,9653,...,0,0,0,0,0,0,0,0,0,0
253936,1180270,7,0,2019-11-19,1,4.9,14305218,38166110,9689,15523,...,0,0,0,0,0,0,0,0,0,0

In [13]:
matrix_games_tags = matrix_games_tags.groupby("user_id_categorical").max()

In [14]:
matrix_games_tags

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id,app_id_categorical,1980s,...,Well-Written,Werewolves,Western,Wholesome,Word Game,World War I,World War II,Wrestling,Zombies,eSports
user_id_categorical,,,,,,,,,,,,,,,,,,,,,
0,1461680,124,47,2022-05-19,1,968.1,2881,40897360,17982,1,...,1,0,1,0,0,1,1,0,1,1
1,2102020,228,35,2022-12-11,1,64.3,3737,40002727,21274,0,...,0,0,0,0,0,0,0,0,1,0
2,1889620,4,4,2022-12-26,1,213.4,5488,40410867,20498,1,...,0,1,0,0,0,0,0,0,1,1
3,1456230,39,35,2022-01-21,1,35.5,6162,40134652,17933,0,...,0,0,0,1,0,0,1,0,1,0
4,640820,76,21,2020-02-27,1,121.3,6566,35889705,9103,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9685,1417010,17,11,2022-06-27,1,85.9,14302978,40037627,17624,0,...,0,0,0,0,0,0,0,0,1,0
9686,1549250,40,3,2022-12-06,1,60.9,14303060,39371119,18627,1,...,0,0,0,0,0,0,1,0,1,0
9687,1921560,21,12,2022-12-30,1,116.0,14303095,40793968,20665,1,...,0,0,0,0,1,0,0,0,0,0
9688,1255560,61,8,2021-11-27,1,88.5,14304544,40836880,16284,0,...,0,0,0,0,0,0,0,0,0,0
9689,1782210,7,3,2022-03-24,1,43.1,14305218,39722236,19987,1,...,0,0,1,0,0,0,1,0,1,0

In [15]:
columns_to_drop = list(recommendations.columns)
columns_to_drop.remove("user_id_categorical")
columns_to_drop

['app_id',
 'helpful',
 'funny',
 'date',
 'is_recommended',
 'hours',
 'user_id',
 'review_id',
 'app_id_categorical']

In [16]:
matrix_games_tags = matrix_games_tags.drop(columns=columns_to_drop)
matrix_games_tags

,1980s,1990's,2.5D,2D,2D Fighter,2D Platformer,360 Video,3D,3D Fighter,3D Platformer,...,Well-Written,Werewolves,Western,Wholesome,Word Game,World War I,World War II,Wrestling,Zombies,eSports
user_id_categorical,,,,,,,,,,,,,,,,,,,,,
0,1,1,1,1,0,1,0,1,0,1,...,1,0,1,0,0,1,1,0,1,1
1,0,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
2,1,1,0,1,0,1,0,1,0,1,...,0,1,0,0,0,0,0,0,1,1
3,0,1,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,1,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9685,0,1,1,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
9686,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
9687,1,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9688,0,1,1,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9689,1,1,1,1,0,0,0,1,0,1,...,0,0,1,0,0,0,1,0,1,0

In [17]:
matrix_games_tags.T

user_id_categorical,0,1,2,3,4,5,6,7,8,9,...,9680,9681,9682,9683,9684,9685,9686,9687,9688,9689
1980s,1,0,1,0,0,0,0,0,0,1,...,0,0,0,1,0,0,1,1,0,1
1990's,1,1,1,1,0,0,0,0,1,1,...,0,0,1,1,0,1,0,0,1,1
2.5D,1,0,0,0,0,1,1,1,0,0,...,0,0,1,1,0,1,0,0,1,1
2D,1,1,1,1,1,1,1,1,1,1,...,0,1,0,1,1,1,0,1,1,1
2D Fighter,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
World War I,1,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
World War II,1,0,0,1,1,0,1,0,0,1,...,0,0,0,1,0,0,1,0,0,1
Wrestling,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Zombies,1,1,1,1,1,1,0,0,0,1,...,0,1,0,1,0,1,1,0,0,1
eSports,1,0,1,0,0,1,0,0,0,1,...,1,0,0,1,0,0,0,0,0,0

## Principal Component Analysis

In [18]:
# Standardize the data
scaler = StandardScaler()
game_user_matrix_standardized = scaler.fit_transform(matrix_games_tags.T)

In [19]:
# Specify the number of components (dimensions) you want after reduction
num_components = 10

# Apply PCA
pca = PCA(n_components=num_components)
game_tags_reduced = pca.fit_transform(game_user_matrix_standardized)

# Print the reduced dimensions for each game tag
print("Reduced Game Tags Dimensions:\n", game_tags_reduced)

game_tags_reduced.shape

Reduced Game Tags Dimensions:
 [[-3.65114737e-01 -5.86890608e+00 -6.25913790e+00 ...  2.16338864e+01
  -2.60179486e+00  6.05878436e+00]
 [ 2.52375022e+01 -7.61567677e+00 -8.39622108e+00 ...  3.16660128e+01
  -8.25328408e+00  1.06807858e+01]
 [ 1.93881146e+01 -2.31011757e+01  7.11278539e+00 ... -1.39085015e+01
  -3.08464657e+00 -5.55414295e+00]
 ...
 [-6.02901847e+01  3.80241530e+00 -5.28442834e+00 ... -9.72938202e-01
  -3.60110659e+00 -1.42336727e+00]
 [ 8.09722010e+01  2.17626794e+01 -2.45073709e+01 ...  1.15262766e+01
   2.83670405e+00  1.93511196e+01]
 [-4.94094663e+00  1.83485545e+01 -1.16851077e+01 ...  9.34926753e+00
  -1.66033681e-02 -1.69173002e+01]]

(441, 10)

In [20]:
comp_df = pd.DataFrame(data=game_tags_reduced, index=matrix_games_tags.T.index)
comp_df

                 0     1     2     3     4     5    6     7     8     9
1980s         -0.4  -5.9  -6.3 -16.8  23.0 -11.5  2.4  21.6  -2.6   6.1
1990's        25.2  -7.6  -8.4 -14.8  25.1 -13.3 -4.2  31.7  -8.3  10.7
2.5D          19.4 -23.1   7.1  -0.2  18.4   0.5  8.0 -13.9  -3.1  -5.6
2D           132.9  -8.5  17.5 -11.6 -11.0   6.8 -6.7   1.9 -18.5  -0.0
2D Fighter   -15.5  -4.6  -3.7 -12.6  19.4  22.2 25.2  -6.3 -10.0  -6.7
...            ...   ...   ...   ...   ...   ...  ...   ...   ...   ...
World War I  -40.8  11.6  -6.8   0.3  -7.6  -4.9  5.2   8.2  -4.5  -1.0
World War II  11.5  29.8 -14.7  13.4   2.3 -16.9 21.1  15.2   3.0   2.9
Wrestling    -60.3   3.8  -5.3  -1.4  -3.2   6.3 -4.4  -1.0  -3.6  -1.4
Zombies       81.0  21.8 -24.5  -3.7  16.3  -6.6 -4.8  11.5   2.8  19.4
eSports       -4.9  18.3 -11.7 -26.6  12.4  14.5 23.8   9.3  -0.0 -16.9

[441 rows x 10 columns]

In [21]:
for comp in comp_df.columns:
    print("Component:", comp)
    print("Top Game Tags in this component:")
    print(comp_df[comp].sort_values(ascending=False)[:10])
    print("")

Component: 0
Top Game Tags in this component:
Singleplayer       157.4
Action             157.2
Adventure          156.9
Atmospheric        155.5
Multiplayer        155.4
Indie              153.9
Great Soundtrack   152.2
Story Rich         150.0
Open World         149.5
Co-op              148.0
Name: 0, dtype: float64

Component: 1
Top Game Tags in this component:
Military                54.0
Massively Multiplayer   52.4
Team-Based              51.5
War                     46.9
PvP                     45.1
Moddable                43.9
Tactical                43.5
Realistic               40.4
RTS                     39.8
Base Building           37.4
Name: 1, dtype: float64

Component: 2
Top Game Tags in this component:
Roguelike               55.4
Roguelite               53.5
Procedural Generation   48.0
Turn-Based Strategy     47.6
Management              46.3
Turn-Based              46.1
Resource Management     45.6
Building                44.8
Turn-Based Tactics      44.7
Dungeon Crawler         43.3
Name: 2, dtype: float64

Component: 3
Top Game Tags in this component:
Dark Fantasy           43.7
Historical             36.8
Turn-Based             36.4
Medieval               34.6
Action RPG             34.4
Magic                  33.6
Turn-Based Combat      32.9
RTS                    31.7
Real-Time with Pause   30.8
Turn-Based Strategy    30.7
Name: 3, dtype: float64

Component: 4
Top Game Tags in this component:
Old School           34.1
Top-Down Shooter     33.8
Aliens               32.4
Fast-Paced           31.3
Local Co-Op          30.2
Beat 'em up          29.0
Local Multiplayer    28.9
Fighting             28.5
Twin Stick Shooter   28.3
Top-Down             27.0
Name: 4, dtype: float64

Component: 5
Top Game Tags in this component:
JRPG             42.1
Anime            39.7
Hack and Slash   35.3
Beat 'em up      31.2
Action RPG       30.3
Fighting         30.2
Sexual Content   29.3
Souls-like       25.7
Dating Sim       25.0
2D Fighter       22.2
Name: 5, dtype: float64

Component: 6
Top Game Tags in this component:
Competitive      36.3
Fighting         34.4
Dating Sim       34.3
Sexual Content   30.6
Visual Novel     29.9
Beat 'em up      28.9
Military         27.3
War              27.2
Mature           26.0
Anime            25.9
Name: 6, dtype: float64

Component: 7
Top Game Tags in this component:
1990's               31.7
Military             25.1
Visual Novel         23.2
Top-Down Shooter     23.1
Retro                22.1
Dating Sim           21.8
1980s                21.6
Silent Protagonist   21.5
Team-Based           20.0
Aliens               19.3
Name: 7, dtype: float64

Component: 8
Top Game Tags in this component:
Combat                  45.0
PvE                     38.1
3D                      34.0
Realistic               30.6
Early Access            30.3
Crafting                27.2
Stylized                22.2
Immersive Sim           22.2
Swordplay               21.3
Massively Multiplayer   20.6
Name: 8, dtype: float64

Component: 9
Top Game Tags in this component:
Dating Sim            27.9
Sexual Content        26.5
Crafting              25.9
Building              24.4
Hentai                23.5
Resource Management   22.5
Mature                21.8
Management            21.8
Anime                 21.1
JRPG                  19.5
Name: 9, dtype: float64

Let's assign names to each component

In [22]:
comp_df.columns = ["Adventure", "War Muliplayer", "Management", "Strategy", "Simulation",
                  "RPG","Romantic", "Driving", "Realistic", "Horror"]

In [23]:
comp_df.head()

,Adventure,War Muliplayer,Management,Strategy,Simulation,RPG,Romantic,Driving,Realistic,Horror
1980s,-0.4,-5.9,-6.3,-16.8,23.0,-11.5,2.4,21.6,-2.6,6.1
1990's,25.2,-7.6,-8.4,-14.8,25.1,-13.3,-4.2,31.7,-8.3,10.7
2.5D,19.4,-23.1,7.1,-0.2,18.4,0.5,8.0,-13.9,-3.1,-5.6
2D,132.9,-8.5,17.5,-11.6,-11.0,6.8,-6.7,1.9,-18.5,-0.0
2D Fighter,-15.5,-4.6,-3.7,-12.6,19.4,22.2,25.2,-6.3,-10.0,-6.7

In [24]:
comp_df.columns

Index(['Adventure', 'War Muliplayer', 'Management', 'Strategy', 'Simulation',
       'RPG', 'Romantic', 'Driving', 'Realistic', 'Horror'],
      dtype='object')

In [25]:
comp_df.sort_values(by="War Muliplayer", ascending=False)

,Adventure,War Muliplayer,Management,Strategy,Simulation,RPG,Romantic,Driving,Realistic,Horror
Military,45.7,54.0,-13.9,10.7,6.1,-20.9,27.3,25.1,4.2,-9.5
Massively Multiplayer,51.5,52.4,-6.9,-24.7,-8.4,1.8,18.3,9.8,20.6,-5.1
Team-Based,46.1,51.5,-12.7,-16.9,9.2,0.7,25.0,20.0,17.4,-22.8
War,63.6,46.9,-9.1,25.3,9.1,-23.9,27.2,13.4,1.9,-7.4
PvP,93.9,45.1,-0.4,-20.2,-0.0,11.2,18.3,11.9,20.3,-22.7
...,...,...,...,...,...,...,...,...,...,...
Surreal,43.1,-45.7,-2.8,-13.7,6.9,-17.7,-14.0,17.2,3.9,-2.8
Interactive Fiction,7.2,-46.2,3.6,6.4,-23.2,-11.1,9.5,12.9,11.2,-5.3
Emotional,34.2,-47.6,-3.4,14.4,-16.9,-13.4,10.3,1.6,5.5,-10.5
Mystery,67.3,-48.5,-12.1,8.9,-19.6,-16.9,-4.9,7.4,12.2,-17.6
Visual Novel,34.7,-51.4,5.0,6.9,-33.2,12.2,29.9,23.2,-3.3,13.8

In [26]:
# Function to assign each tag to the component with the highest loading
def assign_to_component(row):
    return row.idxmax()

# Apply the function to each row (tag)
comp_df['Assigned_Component'] = comp_df.apply(assign_to_component, axis=1)

# Display the resulting DataFrame with assigned components
comp_df

,Adventure,War Muliplayer,Management,Strategy,Simulation,RPG,Romantic,Driving,Realistic,Horror,Assigned_Component
1980s,-0.4,-5.9,-6.3,-16.8,23.0,-11.5,2.4,21.6,-2.6,6.1,Simulation
1990's,25.2,-7.6,-8.4,-14.8,25.1,-13.3,-4.2,31.7,-8.3,10.7,Driving
2.5D,19.4,-23.1,7.1,-0.2,18.4,0.5,8.0,-13.9,-3.1,-5.6,Adventure
2D,132.9,-8.5,17.5,-11.6,-11.0,6.8,-6.7,1.9,-18.5,-0.0,Adventure
2D Fighter,-15.5,-4.6,-3.7,-12.6,19.4,22.2,25.2,-6.3,-10.0,-6.7,Romantic
...,...,...,...,...,...,...,...,...,...,...,...
World War I,-40.8,11.6,-6.8,0.3,-7.6,-4.9,5.2,8.2,-4.5,-1.0,War Muliplayer
World War II,11.5,29.8,-14.7,13.4,2.3,-16.9,21.1,15.2,3.0,2.9,War Muliplayer
Wrestling,-60.3,3.8,-5.3,-1.4,-3.2,6.3,-4.4,-1.0,-3.6,-1.4,RPG
Zombies,81.0,21.8,-24.5,-3.7,16.3,-6.6,-4.8,11.5,2.8,19.4,Adventure
eSports,-4.9,18.3,-11.7,-26.6,12.4,14.5,23.8,9.3,-0.0,-16.9,Romantic

In [27]:
matrix_games_tags_comp =pd.merge(matrix_games_tags.T,comp_df["Assigned_Component"], left_index=True, right_index=True)\
            .groupby("Assigned_Component").max().T
matrix_games_tags_comp.head()

Assigned_Component,Adventure,Driving,Horror,Management,RPG,Realistic,Romantic,Simulation,Strategy,War Muliplayer
0,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1
4,1,1,0,1,1,0,1,1,1,1

In [28]:
matrix_games_tags_comp = matrix_games_tags_comp.rename_axis('', axis=1)
matrix_games_tags_comp

,Adventure,Driving,Horror,Management,RPG,Realistic,Romantic,Simulation,Strategy,War Muliplayer
0,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1
4,1,1,0,1,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
9685,1,1,1,1,1,1,1,1,1,1
9686,1,0,0,1,1,1,1,1,1,1
9687,1,1,1,1,1,1,1,1,1,1
9688,1,1,1,1,0,1,1,1,1,1
9689,1,1,1,1,1,1,1,1,1,1

## Hierarchical Cluster Analysis

Grouping users of similar preference

In [29]:
# Compute pairwise distances
pairwise_distances = pdist(matrix_games_tags_comp)

# Perform hierarchical clustering
linkage_matrix = linkage(pairwise_distances, method='ward', metric="Euclidean")

linkage_matrix

array([[0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 2.00000000e+00],
       [2.00000000e+00, 9.69000000e+03, 0.00000000e+00, 3.00000000e+00],
       [3.00000000e+00, 9.69100000e+03, 0.00000000e+00, 4.00000000e+00],
       ...,
       [1.93660000e+04, 1.93750000e+04, 3.43780959e+01, 3.07900000e+03],
       [1.93690000e+04, 1.93760000e+04, 4.03486240e+01, 4.52300000e+03],
       [1.93740000e+04, 1.93770000e+04, 5.15921414e+01, 9.69000000e+03]])

In [30]:
linkage_matrix.shape

(9689, 4)

In [ ]:
linkage_matrix

## Applying Word2Vec to Gaems-Tag (An exploration)

In [ ]:
# !pip install gensim

In [ ]:
game_tags = list(matrix_games_tags.columns)

# Load Word2Vec model
sentences = [tag.split() for tag in game_tags]
model = Word2Vec(sentences, vector_size=20, window=5, min_count=1, workers=4)

# Get vectors for each tag, handling out-of-vocabulary cases
tag_vectors = [model.wv[tag] if tag in model.wv else np.zeros(model.vector_size) for tag in game_tags]

# Standardize the data
scaler = StandardScaler()
tag_vectors_standardized = scaler.fit_transform(tag_vectors)

# Specify the number of clusters
num_clusters = 10

# Apply K-means clustering
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
tag_clusters = kmeans.fit_predict(tag_vectors_standardized)

# Print the clusters for each tag
for tag, cluster in zip(game_tags, tag_clusters):
    print(f"{tag}: Cluster {cluster}")

tag_cluster_df = pd.DataFrame([tag_clusters], columns=game_tags).T\
                .reset_index()\
                .rename({0:"Cluster", "index":"Tag"}, axis=1)
tag_cluster_df.head()

1980s: Cluster 4
1990's: Cluster 7
2.5D: Cluster 9
2D: Cluster 6
2D Fighter: Cluster 2
2D Platformer: Cluster 2
360 Video: Cluster 2
3D: Cluster 4
3D Fighter: Cluster 2
3D Platformer: Cluster 2
3D Vision: Cluster 2
4 Player Local: Cluster 2
4X: Cluster 2
6DOF: Cluster 7
8-bit Music: Cluster 2
ATV: Cluster 2
Abstract: Cluster 5
Action: Cluster 4
Action RPG: Cluster 2
Action RTS: Cluster 2
Action Roguelike: Cluster 2
Action-Adventure: Cluster 8
Addictive: Cluster 5
Adventure: Cluster 8
Agriculture: Cluster 4
Aliens: Cluster 5
Alternate History: Cluster 2
Ambient: Cluster 3
America: Cluster 2
Animation & Modeling: Cluster 2
Anime: Cluster 9
Arcade: Cluster 2
Archery: Cluster 3
Arena Shooter: Cluster 2
Artificial Intelligence: Cluster 2
Assassin: Cluster 2
Asymmetric VR: Cluster 2
Asynchronous Multiplayer: Cluster 2
Atmospheric: Cluster 8
Audio Production: Cluster 2
Auto Battler: Cluster 2
Automation: Cluster 9
Automobile Sim: Cluster 2
BMX: Cluster 0
Base Building: Cluster 2
Baseball: Cluster 7
Based On A Novel: Cluster 2
Basketball: Cluster 4
Battle Royale: Cluster 2
Beat 'em up: Cluster 2
Beautiful: Cluster 7
Benchmark: Cluster 9
Bikes: Cluster 8
Blood: Cluster 9
Board Game: Cluster 2
Boss Rush: Cluster 2
Bowling: Cluster 1
Boxing: Cluster 2
Building: Cluster 4
Bullet Hell: Cluster 2
Bullet Time: Cluster 2
CRPG: Cluster 5
Capitalism: Cluster 6
Card Battler: Cluster 2
Card Game: Cluster 2
Cartoon: Cluster 9
Cartoony: Cluster 1
Casual: Cluster 7
Cats: Cluster 9
Character Action Game: Cluster 2
Character Customization: Cluster 2
Chess: Cluster 9
Choices Matter: Cluster 2
Choose Your Own Adventure: Cluster 2
Cinematic: Cluster 9
City Builder: Cluster 2
Class-Based: Cluster 7
Classic: Cluster 2
Clicker: Cluster 7
Co-op: Cluster 2
Co-op Campaign: Cluster 2
Coding: Cluster 4
Cold War: Cluster 2
Collectathon: Cluster 1
Colony Sim: Cluster 2
Colorful: Cluster 5
Combat: Cluster 0
Combat Racing: Cluster 2
Comedy: Cluster 8
Comic Book: Cluster 2
Competitive: Cluster 5
Conspiracy: Cluster 1
Controller: Cluster 1
Conversation: Cluster 6
Cooking: Cluster 1
Cozy: Cluster 1
Crafting: Cluster 2
Creature Collector: Cluster 2
Cricket: Cluster 8
Crime: Cluster 0
Crowdfunded: Cluster 6
Cult Classic: Cluster 2
Cute: Cluster 1
Cyberpunk: Cluster 7
Cycling: Cluster 8
Dark: Cluster 5
Dark Comedy: Cluster 2
Dark Fantasy: Cluster 2
Dark Humor: Cluster 2
Dating Sim: Cluster 2
Deckbuilding: Cluster 0
Demons: Cluster 7
Design & Illustration: Cluster 2
Destruction: Cluster 7
Detective: Cluster 9
Difficult: Cluster 7
Dinosaurs: Cluster 1
Diplomacy: Cluster 0
Documentary: Cluster 3
Dog: Cluster 3
Dragons: Cluster 9
Drama: Cluster 2
Driving: Cluster 2
Dungeon Crawler: Cluster 2
Dungeons & Dragons: Cluster 2
Dynamic Narration: Cluster 2
Dystopian: Cluster 3
Early Access: Cluster 2
Economy: Cluster 5
Education: Cluster 7
Electronic: Cluster 9
Electronic Music: Cluster 2
Emotional: Cluster 3
Epic: Cluster 6
Episodic: Cluster 0
Escape Room: Cluster 2
Experience: Cluster 5
Experimental: Cluster 9
Exploration: Cluster 4
FMV: Cluster 5
FPS: Cluster 2
Faith: Cluster 2
Family Friendly: Cluster 2
Fantasy: Cluster 6
Farming: Cluster 1
Farming Sim: Cluster 2
Fast-Paced: Cluster 6
Feature Film: Cluster 2
Female Protagonist: Cluster 2
Fighting: Cluster 1
First-Person: Cluster 0
Fishing: Cluster 6
Flight: Cluster 2
Football (American): Cluster 2
Football (Soccer): Cluster 2
Foreign: Cluster 1
Fox: Cluster 3
Free to Play: Cluster 2
Funny: Cluster 8
Futuristic: Cluster 3
Gambling: Cluster 6
Game Development: Cluster 2
GameMaker: Cluster 3
Games Workshop: Cluster 2
Gaming: Cluster 5
God Game: Cluster 2
Golf: Cluster 5
Gore: Cluster 2
Gothic: Cluster 1
Grand Strategy: Cluster 2
Great Soundtrack: Cluster 2
Grid-Based Movement: Cluster 2
Gun Customization: Cluster 2
Hack and Slash: Cluster 2
Hacking: Cluster 5
Hand-drawn: Cluster 5
Hardware: Cluster 3
Heist: Cluster 3
Hentai: Cluster 1
Hero Shooter: Cluster 2
Hex Grid: Cluster 2
Hidden Object: Cluster 2
Historical: Cluster 3
Hobby Sim: Cluster 2
Hockey: Cluster 2
Horror: Cluster 9
Horses: Cluster 1
Hunting: Cluster 0
Idler: Cluster 3
Illuminati: Cluster 2
Immersive: Cluster 2
Immersive Sim: Cluster 2
Indie: Cluster 5
Instrumental Music: Cluster 2
Intentionally Awkward Controls: Cluster 2
Interactive Fiction: Cluster 2
Inventory Management: Cluster 2
Investigation: Cluster 7
Isometric: Cluster 3
JRPG: Cluster 2
Jet: Cluster 9
Job Simulator: Cluster 2
Jump Scare: Cluster 2
Kickstarter: Cluster 1
LEGO: Cluster 1
LGBTQ+: Cluster 5
Lemmings: Cluster 2
Level Editor: Cluster 2
Life Sim: Cluster 2
Linear: Cluster 2
Local Co-Op: Cluster 2
Local Multiplayer: Cluster 2
Logic: Cluster 9
Loot: Cluster 9
Looter Shooter: Cluster 2
Lore-Rich: Cluster 6
Lovecraftian: Cluster 5
MMORPG: Cluster 4
MOBA: Cluster 2
Magic: Cluster 6
Mahjong: Cluster 9
Management: Cluster 3
Mars: Cluster 6
Martial Arts: Cluster 2
Massively Multiplayer: Cluster 2
Match 3: Cluster 2
Mature: Cluster 3
Mechs: Cluster 5
Medical Sim: Cluster 2
Medieval: Cluster 9
Memes: Cluster 5
Metroidvania: Cluster 2
Military: Cluster 4
Mini Golf: Cluster 2
Minigames: Cluster 1
Minimalist: Cluster 0
Mining: Cluster 1
Mod: Cluster 0
Moddable: Cluster 9
Modern: Cluster 3
Motocross: Cluster 1
Motorbike: Cluster 1
Mouse only: Cluster 2
Movie: Cluster 8
Multiplayer: Cluster 1
Multiple Endings: Cluster 2
Music: Cluster 2
Music-Based Procedural Generation: Cluster 2
Musou: Cluster 8
Mystery: Cluster 3
Mystery Dungeon: Cluster 2
Mythology: Cluster 6
NSFW: Cluster 8
Narration: Cluster 1
Narrative: Cluster 2
Nature: Cluster 2
Naval: Cluster 8
Naval Combat: Cluster 2
Ninja: Cluster 6
Noir: Cluster 8
Nonlinear: Cluster 0
Nostalgia: Cluster 9
Nudity: Cluster 3
Offroad: Cluster 8
Old School: Cluster 2
On-Rails Shooter: Cluster 2
Online Co-Op: Cluster 2
Open World: Cluster 2
Open World Survival Craft: Cluster 2
Otome: Cluster 3
Outbreak Sim: Cluster 2
Parkour: Cluster 2
Parody: Cluster 1
Party: Cluster 1
Party Game: Cluster 2
Party-Based RPG: Cluster 2
Perma Death: Cluster 2
Philosophical: Cluster 9
Photo Editing: Cluster 2
Physics: Cluster 3
Pinball: Cluster 6
Pirates: Cluster 1
Pixel Graphics: Cluster 2
Platformer: Cluster 2
Point & Click: Cluster 2
Political: Cluster 1
Political Sim: Cluster 2
Politics: Cluster 3
Pool: Cluster 1
Post-apocalyptic: Cluster 4
Precision Platformer: Cluster 2
Procedural Generation: Cluster 2
Programming: Cluster 3
Psychedelic: Cluster 2
Psychological: Cluster 0
Psychological Horror: Cluster 2
Puzzle: Cluster 1
Puzzle Platformer: Cluster 2
PvE: Cluster 9
PvP: Cluster 9
Quick-Time Events: Cluster 2
RPG: Cluster 5
RPGMaker: Cluster 9
RTS: Cluster 0
Racing: Cluster 1
Real Time Tactics: Cluster 2
Real-Time: Cluster 3
Real-Time with Pause: Cluster 2
Realistic: Cluster 0
Reboot: Cluster 7
Relaxing: Cluster 3
Remake: Cluster 0
Replay Value: Cluster 2
Resource Management: Cluster 2
Retro: Cluster 1
Rhythm: Cluster 8
Robots: Cluster 1
Rock Music: Cluster 2
Roguelike: Cluster 2
Roguelike Deckbuilder: Cluster 2
Roguelite: Cluster 3
Roguevania: Cluster 6
Romance: Cluster 5
Rome: Cluster 5
Rugby: Cluster 9
Runner: Cluster 8
Sailing: Cluster 0
Sandbox: Cluster 7
Satire: Cluster 7
Sci-fi: Cluster 9
Science: Cluster 1
Score Attack: Cluster 2
Sequel: Cluster 0
Sexual Content: Cluster 2
Shoot 'Em Up: Cluster 2
Shooter: Cluster 0
Shop Keeper: Cluster 2
Short: Cluster 5
Side Scroller: Cluster 2
Silent Protagonist: Cluster 2
Simulation: Cluster 3
Singleplayer: Cluster 5
Skateboarding: Cluster 2
Skating: Cluster 2
Skiing: Cluster 3
Sniper: Cluster 0
Snooker: Cluster 0
Snow: Cluster 0
Snowboarding: Cluster 2
Social Deduction: Cluster 2
Software: Cluster 0
Software Training: Cluster 2
Sokoban: Cluster 1
Solitaire: Cluster 9
Souls-like: Cluster 1
Soundtrack: Cluster 6
Space: Cluster 2
Space Sim: Cluster 2
Spaceships: Cluster 2
Spectacle fighter: Cluster 2
Spelling: Cluster 9
Split Screen: Cluster 2
Sports: Cluster 2
Stealth: Cluster 7
Steam Machine: Cluster 2
Steampunk: Cluster 7
Story Rich: Cluster 2
Strategy: Cluster 2
Strategy RPG: Cluster 2
Stylized: Cluster 7
Submarine: Cluster 9
Superhero: Cluster 6
Supernatural: Cluster 7
Surreal: Cluster 3
Survival: Cluster 5
Survival Horror: Cluster 2
Swordplay: Cluster 6
Tabletop: Cluster 2
Tactical: Cluster 2
Tactical RPG: Cluster 2
Tanks: Cluster 8
Team-Based: Cluster 4
Tennis: Cluster 8
Text-Based: Cluster 3
Third Person: Cluster 2
Third-Person Shooter: Cluster 2
Thriller: Cluster 6
Tile-Matching: Cluster 0
Time Attack: Cluster 2
Time Management: Cluster 2
Time Manipulation: Cluster 2
Time Travel: Cluster 2
Top-Down: Cluster 9
Top-Down Shooter: Cluster 2
Touch-Friendly: Cluster 0
Tower Defense: Cluster 2
TrackIR: Cluster 6
Trading: Cluster 5
Trading Card Game: Cluster 2
Traditional Roguelike: Cluster 2
Trains: Cluster 8
Transhumanism: Cluster 9
Transportation: Cluster 3
Trivia: Cluster 1
Turn-Based: Cluster 9
Turn-Based Combat: Cluster 2
Turn-Based Strategy: Cluster 2
Turn-Based Tactics: Cluster 2
Tutorial: Cluster 6
Twin Stick Shooter: Cluster 2
Typing: Cluster 9
Underground: Cluster 9
Underwater: Cluster 5
Unforgiving: Cluster 0
Utilities: Cluster 8
VR: Cluster 6
Vampire: Cluster 4
Vehicular Combat: Cluster 2
Video Production: Cluster 2
Vikings: Cluster 7
Villain Protagonist: Cluster 2
Violent: Cluster 5
Visual Novel: Cluster 2
Voice Control: Cluster 2
Volleyball: Cluster 6
Voxel: Cluster 2
Walking Simulator: Cluster 2
War: Cluster 5
Wargame: Cluster 9
Warhammer 40K: Cluster 2
Web Publishing: Cluster 2
Well-Written: Cluster 8
Werewolves: Cluster 4
Western: Cluster 0
Wholesome: Cluster 1
Word Game: Cluster 2
World War I: Cluster 2
World War II: Cluster 2
Wrestling: Cluster 5
Zombies: Cluster 3
eSports: Cluster 7

In [ ]:
tag_cluster_df[tag_cluster_df["Cluster"]==0]

                Tag  Cluster
43              BMX        0
86           Combat        0
99            Crime        0
110    Deckbuilding        0
117       Diplomacy        0
134        Episodic        0
150    First-Person        0
187         Hunting        0
235      Minimalist        0
237             Mod        0
260       Nonlinear        0
294   Psychological        0
303             RTS        0
308       Realistic        0
311          Remake        0
326         Sailing        0
332          Sequel        0
335         Shooter        0
345          Sniper        0
346         Snooker        0
347            Snow        0
350        Software        0
387   Tile-Matching        0
394  Touch-Friendly        0
413     Unforgiving        0
433         Western        0

In [ ]:
# matrix_games_tags[matrix_games_tags["user_id_categorical"]==0]